@page
@model pjstub.Pages.IndexModel
@{
    ViewData["Title"] = "Stub Project Index";
}
<html>
  <head>
    <title>@ViewData["Title"]</title>
  </head>
  <body>
    Stub project with count: @pjstub.Stub.ActionInvokeCount times.
  </body>
</html>
